[Unit]
Description=Interactive Brokers Gateway Service
After=network.target syslog.target ibgvnc.service
Requires=ibgvnc.service

[Service]
User=ib
Group=users

SyslogIdentifier=ibgateway

Environment=DISPLAY=:9
ExecStart=/usr/bin/ibgateway
Restart=on-abort

[Install]
WantedBy=multiuser.target
